---
http_interactions:
- request:
    method: get
    uri: https://survey.qualtrics.com/WRAPI/ControlPanel/api.php?Format=JSON&Request=getSurvey&SurveyID=<QUALTRICS_SURVEY_ID>&Token=<QUALTRICS_API_TOKEN>&User=<QUALTRICS_USER_NAME>&Version=2.3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename="Current_Engineering_Student_Scholarship_Application.xml"
      Content-Transfer-Encoding:
      - binary
      Requeststatus:
      - Success
      Servershortname:
      - w016
      X-Cnection:
      - close
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <SurveyDefinition><SurveyName>Current Engineering Student Scholarship Application</SurveyName><OwnerID>UR_5cXQOAJfgozFxxX</OwnerID><isActive>1</isActive><CreationDate>2014-10-14 06:43:47</CreationDate><LastModifiedDate>2014-10-29 13:09:56</LastModifiedDate><StartDate>0000-00-00 00:00:00</StartDate><ExpirationDate>0000-00-00 00:00:00</ExpirationDate><Languages><Language Default="1">EN</Language></Languages><Questions><Question QuestionID="QID1"><Type>TE</Type><Selector>SL</Selector><SubSelector/><QuestionText><![CDATA[First Name]]></QuestionText><QuestionDescription><![CDATA[First Name]]></QuestionDescription><ExportTag><![CDATA[Q1]]></ExportTag><Validation><ForceResponse>1</ForceResponse></Validation><Choices/></Question><Question QuestionID="QID2"><Type>TE</Type><Selector>SL</Selector><SubSelector/><QuestionText><![CDATA[Last Name]]></QuestionText><QuestionDescription><![CDATA[Last Name]]></QuestionDescription><ExportTag><![CDATA[Q2]]></ExportTag><Validation><ForceResponse>1</ForceResponse></Validation><Choices/></Question><Question QuestionID="QID3"><Type>TE</Type><Selector>SL</Selector><SubSelector/><QuestionText><![CDATA[Email]]></QuestionText><QuestionDescription><![CDATA[Email]]></QuestionDescription><ExportTag><![CDATA[Q3]]></ExportTag><Validation><ForceResponse>1</ForceResponse></Validation><Choices/></Question><Question QuestionID="QID4"><Type>MC</Type><Selector>DL</Selector><SubSelector/><QuestionText><![CDATA[Majors]]></QuestionText><QuestionDescription><![CDATA[Majors]]></QuestionDescription><ExportTag><![CDATA[Q4]]></ExportTag><Validation><ForceResponse>1</ForceResponse></Validation><Choices><Choice ID="1" Recode="1"><Description><![CDATA[Aeronautical and Astronautical Engineering]]></Description></Choice><Choice ID="2" Recode="2"><Description><![CDATA[Agricultural Engineering]]></Description></Choice><Choice ID="3" Recode="3"><Description><![CDATA[Agricultural Mechanics & Engineering Technolgy]]></Description></Choice><Choice ID="4" Recode="4"><Description><![CDATA[Aviation]]></Description></Choice><Choice ID="5" Recode="5"><Description><![CDATA[Biomedical Engineering]]></Description></Choice><Choice ID="6" Recode="6"><[...]
