---
http_interactions:
- request:
    method: get
    uri: https://survey.qualtrics.com/WRAPI/ControlPanel/api.php?Format=JSON&Request=getLegacyResponseData&SurveyID=<QUALTRICS_SURVEY_ID>&Token=<QUALTRICS_API_TOKEN>&User=<QUALTRICS_USER_NAME>&Version=2.3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Transfer-Encoding:
      - binary
      Requeststatus:
      - Success
      Servershortname:
      - w015
      X-Cnection:
      - close
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"R_6Fr1NoQJZRqsfBP":{"ResponseSet":"Default Response Set","Name":"Anonymous","ExternalDataReference":"","EmailAddress":"","IPAddress":null,"Status":"1","StartDate":"2014-10-29
        15:53:45","EndDate":"2014-10-29 15:54:49","Finished":"1","Q1":"Brutus","Q2":"Buckeye","Q3":"buckeye.1@osu.edu","Q4":1,"Q5_1":1,"Q5_2":3,"Q28":1,"Q29":2,"Q30":2,"Q31":2,"Q6":"test","Q7":"test","Q8":1,"Q9":2,"Q10":2,"Q11":2,"Q12":2,"Q13":2,"Q14":2,"Q15":2,"Q16":2,"Q17":2,"Q18":2,"Q19":1,"Q20":2,"Q21":"","Q22":2,"Q23":2,"Q24":2,"Q25":2,"Q26":"test","Q27":1},"R_0ILP6GWlqyJNXSZ":{"ResponseSet":"Default
        Response Set","Name":"Anonymous","ExternalDataReference":"","EmailAddress":"","IPAddress":null,"Status":"1","StartDate":"2014-10-29
        15:54:55","EndDate":"2014-10-29 15:56:09","Finished":"1","Q1":"testy","Q2":"testerson","Q3":"test.1000@osu.edu","Q4":4,"Q5_1":13,"Q5_2":16,"Q28":1,"Q29":2,"Q30":2,"Q31":3,"Q6":"test","Q7":"test","Q8":1,"Q9":2,"Q10":2,"Q11":2,"Q12":2,"Q13":2,"Q14":2,"Q15":2,"Q16":2,"Q17":2,"Q18":2,"Q19":2,"Q20":1,"Q21":"Psychology","Q22":2,"Q23":2,"Q24":2,"Q25":2,"Q26":"teset","Q27":1}}'
  recorded_at: Wed, 29 Oct 2014 20:20:12 GMT
recorded_with: VCR 2.9.3
